/* ========== CSS Reset ==========================================> */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== Real CSS styles ====================================> */
body
{
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6
{
    margin: 1em 0px 1em 0px;
}

h1
{
    font-size: 144%;
}

h2
{
    font-size: 120%;
}

h3
{
    font-style: italic;
}

ol, ul
{
    padding-left: 1.5em;
    list-style-position: outside;
}

ol
{
    list-style-type: decimal;
}

ul
{
    list-style-type: square;
}

th, td
{
    padding-left: 8px;
    padding-right: 8px;
}

th
{
    text-align: right;
}

#Content
{

}

header
{
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100vw;
}

svg
{
    display: block;
}

#maps
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 200px 50px 100px 50px;
}

.SvgWrapper
{
    min-height: 170px;
}

.MapWrapper
{
    min-width: 600px;
}

.TileWrapper
{
    display: none;
}
